{% extends "blog/base.html" %}
{% block content %}


    <form class="form-inline my-2 my-lg-1">
      <input 
      class="form-control mr-sm-2" 
      type="search" 
      placeholder="Search" 
      aria-label="Search"
      name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    {% for word in words %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <big class="text-muted"> Darija: {{ word.darija }}</big>
            </div>
            <h2><a>English: {{ word.arabic }}</a></h2>
            <h2><a>Arabic: {{ word.english }}</a></h2>
            <p class="article-content">{{ word.description }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}