{% extends "blog/base.html" %}
{% block content %}
    {% for word in words %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <big class="text-muted"> Darija: {{ word.darija }}</big>
            </div>
            <h2><a>English: {{ word.arabic }}</a></h2>
            <h2><a>Arabic: {{ word.english }}</a></h2>
            <p class="article-content">{{ word.description }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}