{% extends "blog/base.html" %}
{% block content %}


    <form class="form-inline my-2 my-lg-1">
      <input 
      class="form-control mr-sm-2" 
      type="search" 
      placeholder="Search" 
      aria-label="Search"
      name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    {% for dict in dicts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h2><a>Darija: {{ dict.get_darija.word }}</a></h2>
              
            </div>
            <h2><a>English: {{ dict.get_english.word }}</a></h2>
            <h2><a>Arabic: {{ dict.get_arabic.word }}</a></h2>
            <p class="article-content">{{ dict.description }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}